.checkout__container {
  width: min(100%, 80rem);
  margin: auto;
}

.form {
  margin-bottom: 5rem;

  input {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid var(--clr-pry-1);
    outline: none;

    &:active,
    &:focus {
      outline: 1px solid var(--clr-pry-1);
    }
  }
}

.form__text,
.credit {
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  span {
    font-weight: 600;
    font-size: 1.5rem;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

// form delivery
.form__delivery {
  .form__inputs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1.5rem;

    input {
      grid-column: 1 / -1;
    }
    input:nth-child(2),
    input:nth-child(3) {
      grid-column: auto / span 3;
      grid-row: 2;
    }

    input:nth-child(6),
    input:nth-child(7),
    input:nth-child(8) {
      grid-column: auto / span 2;
      grid-row: 5;
    }
  }
}

// form delivery
.form__payment {
  .credit {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .form__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;

    input {
      grid-column: 1 / -1;
    }
    input:nth-child(2),
    input:nth-child(3) {
      grid-column: auto / span 1;
      grid-row: 2;
    }
  }
}

@media (max-width: 800px) {
  .form__text {
    flex-direction: column;
  }

  // form delivery
  .form__delivery {
    .form__inputs {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(10, 1fr);
      gap: 1.5rem;

      input {
        grid-column: 1 / -1;
      }
      input:nth-child(2),
      input:nth-child(3) {
        grid-column: auto;
        grid-row: auto;
      }

      input:nth-child(6),
      input:nth-child(7),
      input:nth-child(8) {
        grid-column: auto;
        grid-row: auto;
      }
    }
    .form__text {
      display: flex;
      justify-content: space-between;
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }

  // form delivery
  .form__payment {
    .credit {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .form__inputs {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      gap: 1.5rem;

      input {
        grid-column: auto;
      }
      input:nth-child(2),
      input:nth-child(3) {
        grid-column: auto;
        grid-row: auto;
      }
    }

    .form__text {
      display: flex;
      justify-content: space-between;
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
}
