.checkout {
  display: grid;
  grid-template-columns: 1.3fr 1fr;

  .checkout__items {
    border-left: 1px solid var(--clr-pry-2);
    padding-left: 5rem;
    .page__banner {
      h2 {
        font-size: var(--font-size-4);
      }
    }

    .items {
      .item__container {
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: 3rem;
        align-items: center;
        position: relative;
        margin-bottom: 1.5rem;

        .item__image {
          max-width: 8rem;
          max-height: 8rem;
          border-radius: 8px;

          img {
            width: 100%;
            border-radius: 8px;
          }
        }

        .item__text {
          display: flex;
          justify-content: space-between;
        }

        span {
          color: #fff;
          background-color: var(--clr-pry-2);
          font-weight: 600;
          position: absolute;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 100%;

          left: 6.4rem;
          top: -0.8rem;

          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .subtotal {
      p,
      h1,
      h3 {
        font-size: 1.5rem;
        color: var(--clr-pry-2);
        font-weight: 600;
      }

      p {
        margin-bottom: 1rem;
      }

      .subtotal__text {
        display: grid;
        row-gap: 3rem;

        .total {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }

        .btn {
          max-width: 100%;
          background-color: var(--clr-pry-1);
          color: white;
        }
      }
    }
  }

  .checkout__container {
    grid-column: 1;
    grid-row: 1;
    padding-bottom: 10rem;
  }

  .cart {
    grid-column: 2;
  }
}

.form {
  margin-bottom: 5rem;
  padding-right: 5rem;

  input,
  select {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    box-shadow: 0 0 0 1px var(--clr-pry-2);
    border: none;
    transition: all 0.1s linear;

    &:active,
    &:focus {
      border: none;
      outline: solid var(--clr-pry-1);

      box-shadow: 0 0 1rem 5px var(--clr-pry-1);
    }
  }
}

.form__text {
  display: flex;
  flex-direction: column;

  margin-bottom: 5rem;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  span {
    font-weight: 600;
    font-size: 1.5rem;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

// form delivery
.form__delivery {
  .form__inputs {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1.5rem;

    select {
      grid-column: 1 / -1;
      background-color: transparent;
    }

    input {
      grid-column: 1 / -1;
    }

    input:nth-child(2) {
      grid-column: span 5;
    }

    input:nth-child(3) {
      grid-column: span 3;
    }

    input:nth-child(5),
    input:nth-child(6) {
      grid-column: span 4;
    }
  }
}

// form delivery

.payment__types__container {
  margin: 3rem 0;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .payment__type {
    border: 1px solid var(--clr-pry-2);
    border-bottom: none;

    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;

    &:last-child {
      border-bottom: 1px solid var(--clr-pry-2);
      border-radius: 0 0 8px 8px;
    }

    &:first-child {
      border-radius: 8px 8px 0 0;
    }

    input {
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
      border-radius: 100%;
      box-shadow: none;

      &:hover {
        cursor: pointer;
        border: 1px solid blue;
      }
    }

    p {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
}

.oder__notes__container {
  textarea {
    width: 100%;
    height: 10rem;
    padding: 1rem;
    font-size: 1.6rem;
    box-shadow: 0 0 0 1px var(--clr-pry-2);
    border: none;
    transition: all 0.1s linear;

    &:active,
    &:focus {
      border: none;
      outline: solid var(--clr-pry-1);

      box-shadow: 0 0 1rem 5px var(--clr-pry-1);
    }
  }
}

.checkout__backtocart__container {
  padding-right: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    color: var(--clr-pry-1);
    font-size: 1.5rem;
    &:hover {
      cursor: pointer;
    }

    span {
      margin-right: 1rem;
    }
  }
}

@media (max-width: 950px) {
  .checkout {
    max-width: 70rem;
    grid-template-columns: 1fr;

    .checkout__items {
      margin-bottom: 10rem;
      padding-left: 0;
      border: none;
      grid-row: 1;
    }

    .checkout__container {
      grid-row: 2;
    }

    .form {
      padding-right: 0;
    }
  }

  .checkout__backtocart__container {
    padding-right: 0;
  }
}

@media (max-width: 800px) {
  .form__text {
    flex-direction: column;
  }

  // form delivery
  .form__delivery {
    .form__inputs {
      grid-template-rows: repeat(7, 1fr);

      input:nth-child(2) {
        grid-column: 1 / -1;
      }

      input:nth-child(3) {
        grid-column: 1 / -1;
      }

      input:nth-child(5),
      input:nth-child(6) {
        grid-column: 1 / -1;
      }
    }
    .form__text {
      display: flex;
      justify-content: space-between;
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
  // form delivery
}
