.footer {
  padding: 10rem 0 5rem;
  .footer__container {
    .footer__quote {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      align-items: center;
      column-gap: 5rem;
      margin-bottom: 6rem;

      h3 {
        font-size: clamp(1.6rem, 1rem + 2vw, 2rem);
        font-weight: 400;
        max-width: 50rem;
        line-height: 2;
      }

      .footer__logo {
        font-size: 8rem;
        justify-self: center;
      }
    }

    .footer__sections {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      h2 {
        font-size: clamp(2.5rem, 1rem + 2.5vw, 3.5rem);
        margin-bottom: 6rem;
        color: var(--clr-pry-1);
        font-weight: 400;
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 3rem;
        color: var(--clr-pry-8);
        font-weight: 600;
      }
    }
  }
}
