// Feautured Products Section
.feautured__products__container {
  width: min(100% - 5rem, 100rem);
  margin-inline: auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, max-content));
  justify-content: center;

  gap: 3rem;

  .product {
    // box-shadow: 0 0 0rem 0.2rem var(--clr-pry-1);
    transition: box-shadow 0.3s;
    border-radius: 1rem;
    background-color: var(--clr-pry-4);

    cursor: pointer;
    &:hover {
      box-shadow: 0 0 1rem 1rem var(--clr-pry-1);
    }

    &__image {
      // padding: 2rem 2rem;

      height: 30rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .product__text {
      text-align: center;
      padding-block: 1rem;

      h3 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        font-weight: 400;
      }

      h5 {
        font-size: 2rem;
        font-family: "meddon";
        color: var(--clr-pry-2);
        margin-bottom: 1rem;
      }

      .btn {
        padding: 1rem 2rem;
        height: 4rem;
      }

      .amt__btn {
        max-width: 15.1rem;
        height: 4rem;
        padding: 1rem 0;

        margin-inline: auto;
        cursor: auto;

        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // justify-content: space-between;

        span {
          font-size: 2rem;
          padding: 1rem;
          cursor: pointer;

          &:nth-child(2) {
            cursor: auto;
          }
        }
      }
    }
  }
}

// All Products Section
.all__products {
  .all__products__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, max-content));
    justify-content: center;
    gap: 6rem 3rem;

    .product {
      // box-shadow: 0 0 0rem 0.2rem rgb(185, 174, 150);

      transition: box-shadow 0.3s;
      border-radius: 1rem;
      background-color: var(--clr-pry-4);

      &:hover {
        box-shadow: 0 0 1rem 1rem rgb(185, 174, 150);
      }

      &__image {
        // padding: 2rem;
        height: 22rem;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .product__text {
        text-align: center;
        padding-block: 1rem;

        h3 {
          font-size: 1.6rem;
          margin-bottom: 1rem;
        }

        h5 {
          font-size: 2rem;
          font-family: "meddon";
          color: rgba(34, 34, 34, 0.5);
          margin-bottom: 1rem;
        }

        .btn {
          font-size: 1.3rem;
          height: 4rem;
        }

        .amt__btn {
          max-width: 13.1rem;
          max-height: 4rem;
          padding: 1rem 0;

          margin-inline: auto;
          padding: 0;
          cursor: auto;

          display: grid;
          grid-template-columns: repeat(3, 1fr);
          justify-content: space-between;

          span {
            font-size: 2rem;
            padding: 1rem;
            cursor: pointer;

            &:nth-child(2) {
              cursor: auto;
            }
          }
        }
      }
    }
  }
}

// products heading
.products {
  .banner {
    margin-bottom: 5rem;
  }

  .banner {
    .banner__image {
      height: 30vh;
    }
  }
}

@media (max-width: 680px) {
  .feautured__products__container {
    grid-template-columns: repeat(auto-fill, minmax(26rem, max-content));
    gap: 1rem;
    width: min(100% - 2.5rem, 100rem);

    .product {
      &__image {
        height: 22rem;
      }
    }
  }

  .all__products {
    .all__products__container {
      gap: 2rem;
    }
  }
}

@media (max-width: 580px) {
  .feautured__products__container {
    grid-template-columns: repeat(auto-fill, minmax(19rem, max-content));

    .product {
      &__image {
        height: 19rem;
      }
    }
  }

  .all__products {
    .all__products__container {
      grid-template-columns: repeat(auto-fill, minmax(19rem, max-content));

      .product {
        &__image {
          height: 19rem;
        }
      }
    }
  }
}

@media (max-width: 388px) {
  .feautured__products__container {
    grid-template-columns: repeat(auto-fill, minmax(16rem, max-content));

    .product {
      &__image {
        height: 16rem;
      }
    }
  }

  .all__products {
    .all__products__container {
      grid-template-columns: repeat(auto-fill, minmax(16rem, max-content));

      .product {
        &__image {
          height: 16rem;
        }
      }
    }
  }
}

@media (max-width: 321px) {
  .feautured__products__container {
    grid-template-columns: repeat(auto-fill, minmax(28rem, max-content));

    .product {
      &__image {
        height: 28rem;
      }
    }
  }

  .all__products {
    .all__products__container {
      grid-template-columns: repeat(auto-fill, minmax(28rem, max-content));

      .product {
        &__image {
          height: 28rem;
        }
      }
    }
  }
}
